<!DOCTYPE html>
<html>

<head>
    <!-- Metas -->
    <%- include('./partials/metas.ejs'); -%>
        <!-- STYLES -->
        <%- include('./partials/styles.ejs'); -%>
</head>

<body>
    <!-- Sidenav -->
    <%- include('./pages/admin/navigation.ejs'); -%>
        <!-- Main content -->
        <div class="main-content" id="panel">
            <!-- Page content -->
            <div class="container-fluid mt--6">
                <!-- INNER PAGE -->
                <%- include('./pages/'+pageName+'.ejs'); -%>
                    <!-- Footer -->
                    <%- include('./partials/footer.ejs'); -%>
            </div>
        </div>
        <!-- Argon Scripts -->
        <%- include('./partials/scripts.ejs'); -%>
</body>

</html>