<!DOCTYPE html>
<html>

<head>
    <!-- Metas -->
    <%- include('./partials/metas.ejs'); -%>
    <!-- STYLES -->
    <%- include('./partials/styles.ejs'); -%>
</head>

<body>
    <!-- Sidenav -->
    <%- include('./pages/'+userType+'/navigation.ejs'); -%>
    <!-- Main content -->
    <div class="main-content" id="panel">
        <!-- Top nav -->
        <%- include('./partials/navbar.ejs'); -%>
        <!-- Page content -->
        <%- include('./pages/'+userType+'/'+pageName+'.ejs'); -%>
    </div>
    <!-- Argon Scripts -->
    <%- include('./partials/scripts.ejs'); -%>
</body>

</html>