<!DOCTYPE html>
<html>

<head>
    <!-- Metas -->
    <%- include('../../partials/metas.ejs'); -%>
    <!-- STYLES -->
    <%- include('../../partials/styles.ejs'); -%>
</head>

<body class="bg-default">
    <%- include('./navbar.ejs');  -%>
    <!-- Main content -->
    <div class="main-content">
        <%- include('./'+pageName+'.ejs'); -%>
    </div>
    <!-- Footer -->
    <%- include('./footer.ejs'); -%>
    <!-- Argon Scripts -->
    <%- include('../../partials/scripts.ejs'); -%>
</body>

</html>